# File ini dibuat secara otomatis oleh script uploader.py

.git
.github
.venv
libs
ai_models/audio/tts
ai_models/coding/CODING-BASIC/DeepSeek-Coder-V2-Lite-Instruct-Q5_K_M.gguf
ai_models/image/ANIMATE/animagine-xl-3.1.safetensors
ai_models/image/BASIC/sd_xl_base_1.0.safetensors
ai_models/image/REALISTIC/juggernautXL_ragnarokBy.safetensors
ai_models/text/text/ai_Text.gguf
ai_models/text/training
ai_models/video/basic/diffusion_pytorch_model.safetensors
libs.zip
ai_models
data/plan
data/license.seal
python
vendor
__pycache__
